.delivery
  img
    width: 100%
    border-radius: 6px
  ul
    margin: 0 0 20px
    padding: 0
    list-style: none
    li
      position: relative
      padding-left: 20px
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
      &::before
        content: ''
        position: absolute
        top: 6px
        left: 6px
        width: 5px
        height: 5px
        border-radius: 50%
        background-color: $dark-accent-color
  &__content
    padding-top: 20px
    +r(992)
      padding-top: 0
    h2
      +r(992)
        text-align: center
  &__method
    padding: 30px 330px 10px 30px
    max-width: 1030px
    margin: 60px auto 0
    border-radius: 6px
    border: 1px solid $border-color
    background: url(images/general/delivery-method-bg.jpg) no-repeat center right / contain
    +r(992)
      padding-right: 30px
      background: none
    +r(576)
      padding: 20px 15px 0
    h3
      +r(767)
        text-align: center