@import 'phone'
@import 'small-schedule'
@import 'slider'
@import 'logo'
@import 'small-form-search'
@import 'small-cart'
@import 'breadcrumbs'


.simplebar-track.simplebar-vertical
  width: 4px
  background: $bg-color
.simplebar-scrollbar
  width: 4px
  right: 0
  &::before
    background: $descr-color